<p>Disclaimer: This email is for educational purposes and is used in an app's development environment. Disregard this email if it you're not this app's dev. Thank you!</p>
<br>
<br>
<p>Your flight has been booked</p>
<br>
<br>
<p>Flight Number: <%= @flight.id %></p>
<br>
<br>
<p>To know more about your flight, please click <%= link_to @booking, "here" %></p>